<mat-sidenav-container style="background-color: white;">
<mat-sidenav #sidenav mode="over" class="h-full w-64 p-2 relative">
    <button mat-icon-button (click)="sidenav.close()" class="absolute top-2 right-2">
      <mat-icon>close</mat-icon>
    </button>
  
    <nav class="flex flex-col space-y-2 mt-10">
      <button mat-button class="w-full flex justify-between items-center px-4 rounded-none" (click)="blogClicked();sidenav.toggle()">
        <span>Blog</span>
        <mat-icon iconPositionEnd>chevron_right</mat-icon>
      </button>
      <button mat-button class="w-full flex justify-between items-center px-4 rounded-none" (click)="tripPlannerClicked();sidenav.toggle()">
        <span>Trip Planner</span>
        <mat-icon iconPositionEnd>chevron_right</mat-icon>
      </button>
      <button mat-button class="w-full flex justify-between items-center px-4 rounded-none" (click)="dealsClicked();sidenav.toggle()">
        <span>Deals</span>
        <mat-icon iconPositionEnd>chevron_right</mat-icon>
      </button>
  
      @if(userLogged){
        <button mat-button class="w-full flex justify-between items-center px-4 rounded-none">
          <span (click)="tripsClicked();sidenav.close()">Trips</span>
          <mat-icon iconPositionEnd>chevron_right</mat-icon>
        </button>
        <button mat-button class="w-full flex justify-between items-center px-4 rounded-none">
          <span (click)="signOut();sidenav.close()">Sign Out</span>
          <mat-icon iconPositionEnd>chevron_right</mat-icon>
        </button>
      }@else {
        <button mat-button class="w-full flex justify-between items-center px-4 rounded-none" (click)="signIn();sidenav.toggle()">
          <span>Sign In</span>
          <mat-icon iconPositionEnd>chevron_right</mat-icon>
        </button>
      }
    </nav>
</mat-sidenav>
<mat-sidenav-content>
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
  