.mat-drawer {
  transition: transform 0.3s ease-in-out !important;
  border-radius: 0 !important;
  width: 250px !important;
}

html, body {
  overflow-x: hidden;
}

.z-below{
  z-index: 0;
}

.z-above{
  z-index: 1;
}

