<mat-toolbar class="border-b border-gray-300 flex justify-between items-center px-4 z-below">
  <button aria-label="Homepage button">
    <img src="/imgs/logo.png" alt="logo" class="w-[120px]" loading="eager">
  </button>
  
  <div class="hidden md:flex flex-1 justify-center space-x-4">
    <button mat-button class="rounded-full">Blog</button>
    <button mat-button class="rounded-full">Trip Planner</button>
    <button mat-button class="rounded-full">Deals</button>
  </div>
  <div class="hidden md:flex">
    <button mat-flat-button class="rounded-none" (click)="openDialog()">Sign In</button>
  </div>

  <button class="md:hidden" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="h-screen pt-[64px] z-above">
  <mat-sidenav #sidenav mode="over" class="w-64 p-2 relative">
    <button mat-icon-button (click)="sidenav.close()" class="absolute top-2 w-10 h-10 flex items-center justify-center rounded-none">
      <mat-icon>close</mat-icon>
    </button>

    <nav class="flex flex-col space-y-2 mt-10">
      <button mat-button class="w-full flex justify-between items-center px-4 rounded-none">
        <span>Blog</span>
      </button>
      <button mat-button class="w-full flex justify-between items-center px-4 rounded-none">
        <span>Trip Planner</span>
      </button>
      <button mat-button class="w-full flex justify-between items-center px-4 rounded-none">
        <span>Deals</span>
      </button>
      <button mat-button class="md:hidden w-full flex justify-between items-center px-4 rounded-none" (click)="openDialog()">
        <span>Sign In</span>
      </button>
    </nav>
  </mat-sidenav>
</mat-sidenav-container>

