<html>
  <body>

    <h2 mat-dialog-title class="text-center font-bold"><b>Let's Start with Easytrip</b></h2>
    <mat-dialog-content class="text-center">
      <div>
        To access all the functionalities and services, please log in to your account first.
      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="flex flex-col items-center w-full">
      <button mat-button mat-dialog-close class="w-full bg-red-500 text-white py-2 rounded-lg">
        <span>
          Continue with Github
        </span>
      </button>
    </mat-dialog-actions>
  </body>
</html>