<ngx-spinner [fullScreen]="false" bdColor="rgba(255, 255, 255)" template="<img src='/imgs/loading.gif' />">
</ngx-spinner>
<div class="min-h-screen px-4 flex flex-col items-start" style="background-color: white;">
  <div class="p-8 pl-11 rounded-lg w-full sm:w-11/12 md:w-3/4 lg:w-2/3 xl:w-1/2 mt-12">
    <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold mb-8">Trips</h1>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5 w-full px-4 pb-12">
    @for(vacation of vacations; track vacation){
    <mat-card class="example-card w-85 h-60 mx-auto clickable relative" appearance="outlined">
      <div class="flex items-start justify-between mb-4 px-4 pt-4">
        <div class="text-xl font-semibold text-gray-800">
          {{ vacation.country }}
        </div>
      </div>

      <mat-card-content>
        <div class="mb-4">
          <div class="text-xs px-2 py-1">
            @for(activity of vacation.activityList; track activity){
            <mat-chip>
              <p style="font-size: 9px;">
                {{activity.activityType}}
              </p>
            </mat-chip>
            }
          </div>
        </div>

        <div class="mt-10 text-gray-700">
          <span class="text-xs px-3 py-1 border border-gray-300 rounded-full bg-gray-100 text-gray-700">
            {{ formatDate(vacation.startingDate) }} - {{ formatDate(vacation.endingDate) }}
          </span>
          <p class="text-md px-1 py-1">{{vacation.days}} days trip in {{vacation.country}}</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onCardClick(vacation)">View</button>
        <button mat-button (click)="onDeleteClick(vacation)">Delete</button>
      </mat-card-actions>
    </mat-card>
    }
  </div>
</div>