
@use '@angular/material' as mat;
@use "tailwindcss";
@use "./styles/_theme-colors.scss" as theme-colors;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: Poppins,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
}
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

:root {
  @include mat.menu-overrides((
    item-label-text-size: 13px,
    container-color: var(--mat-sys-surface),
    item-hover-state-layer-color:var(--mat-sys-surface)
  ));

  @include mat.autocomplete-overrides((
    background-color: var(--mat-sys-surface),
  ));

  @include mat.datepicker-overrides((
    calendar-container-background-color:var(--mat-sys-surface),
  ));
}








