<div class="min-h-screen flex justify-center px-4">
    <div class="p-6 rounded-lg w-full sm:w-11/12 md:w-3/4 lg:w-2/3 xl:w-1/2 mt-12">
        <h1 class="text-2xl sm:text-3xl font-bold mb-4">Tell us your travel preferences</h1>
        <p class="text-base sm:text-lg text-gray-500 mb-6">Just provide some basic information, and our trip planner
            will generate a customized itinerary based on your preferences.</p>

            <form [formGroup]="form">

                <div class="relative w-full mt-5">
                    <mat-form-field class="w-full">
                        <input
                          type="text"
                          matInput
                          formControlName="destination"
                          placeholder="Search the country"
                          [matAutocomplete]="auto"
                          style="padding-left: 30px;"
                        />
                  
                        <mat-autocomplete
                          #auto="matAutocomplete"
                          [displayWith]="displayFn"
                          (optionSelected)="onOptionSelected($event.option.value)"
                        >
                          @if((filteredOptions | async) === null){
                            <mat-option disabled>
                              Type at least 2 characters to start searching
                            </mat-option>
                          }
                          @for (option of filteredOptions | async; track option) {
                            <mat-option [value]="option">
                              <div class="flex flex-col">
                                <div class="flex items-center gap-2">
                                  <img
                                    [src]="option.flagsPng"
                                    alt="{{ option.nameCommon }} flag"
                                    class="w-5 h-3 object-cover"
                                  />
                                  <span>{{ option.nameCommon }}</span>
                                </div>
                                <span class="text-xs text-gray-500 ml-7">
                                  {{ option.capital }}
                                </span>
                              </div>
                            </mat-option>
                          }
                        </mat-autocomplete>
                      </mat-form-field>

                    @if(selectedDestination){
                    <div class="absolute left-3 top-[30%]">
                        <img [src]="selectedDestination.flagsPng" alt="Flag" class="w-5 h-3 object-cover" />
                    </div>
                    }

                </div>


            <hr class="my-4 border-t-1 border-gray-200">

            <div class="mb-6 mt-15">
                <div class="font-medium text-lg sm:text-xl">When are you planning to travel?</div>

                <mat-form-field class="mt-5 w-full">
                    <input matInput [matDatepicker]="picker" placeholder="Choose the date"
                        [min]="todayDate"
                        readonly
                        (click)="picker.open()"
                        formControlName="date" style="padding-left: 30px;">
                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>

            </div>

            <hr class="my-4 border-t-1 border-gray-200">

            <div class="mb-6 mt-10">
                <div class="font-medium text-lg sm:text-xl">How many days are you planning to travel?</div>
                <div class="flex justify-between items-center">
                    <div class="mt-5">Day</div>
                    <div class="mt-5">
                        <div class="flex items-center gap-2">

                            <button (click)="increaseOrDecreaseDays('decrease')" class="w-10 h-10 flex items-center justify-center border rounded-full border-gray-400 
                                group hover:bg-green-800 hover:border-green-800 hover:text-white 
                                hover:scale-110 transition-all duration-300">
                                <mat-icon>remove</mat-icon>
                            </button>

                            <div class="min-w-[2rem] text-center">{{days}}</div>

                            <button (click)="increaseOrDecreaseDays('increase')" class="w-10 h-10 flex items-center justify-center border rounded-full border-gray-400 
                                group hover:bg-green-800 hover:border-green-800 hover:text-white 
                                hover:scale-110 transition-all duration-300">
                                <mat-icon>add</mat-icon>
                            </button>

                        </div>
                    </div>
                </div>

            </div>

            <hr class="my-4 border-t-1 border-gray-200">

            <div class="mb-6 mt-10">
                <div id="budget">
                    <div class="flex items-center gap-2 mb-6">
                        <div class="font-medium text-lg sm:text-xl">What is Your Budget?</div>
                    </div>

                    <p class="-mt-3 mb-6 sm:mb-6 text-sm sm:text-base text-gray-500 font-base">
                        The budget is exclusively allocated for activities and dining purposes.
                    </p>

                    <div class="flex justify-between items-center">
                        <div class="flex flex-wrap gap-4 w-full">
                            <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                                <mat-checkbox formControlName="low" (change)="onBudgetChange('low')"
                                    [checked]="form.get('low')?.value"
                                    class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                                    <img src="/imgs/money.svg" alt="money" class="h-7 sm:h-8">
                                    <div class="mt-2 text-sm sm:text-base font-medium">Small</div>
                                    <div class="text-xs sm:text-sm text-gray-500">1000 - 2500 USD</div>
                                </mat-checkbox>
                            </div>

                            <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                                <mat-checkbox formControlName="medium" (change)="onBudgetChange('medium')"
                                    [checked]="form.get('medium')?.value"
                                    class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                                    <img src="/imgs/money.svg" alt="money" class="h-7 sm:h-8">
                                    <div class="mt-2 text-sm sm:text-base font-medium">Medium</div>
                                    <div class="text-xs sm:text-sm text-gray-500">1000 - 2500 USD</div>
                                </mat-checkbox>
                            </div>

                            <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                                <mat-checkbox formControlName="high" (change)="onBudgetChange('high')"
                                    [checked]="form.get('high')?.value"
                                    class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                                    <img src="/imgs/money.svg" alt="money" class="h-7 sm:h-8">
                                    <div class="mt-2 text-sm sm:text-base font-medium">High</div>
                                    <div class="text-xs sm:text-sm text-gray-500">1000 - 2500 USD</div>
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <hr class="my-4 border-t-1 border-gray-200">

            <div class="mb-6 mt-10">
                <div id="group">
                    <div class="flex items-center gap-2 mb-6">
                        <div class="font-medium text-lg sm:text-xl">
                            Who do you plan on traveling with on your next adventure?
                        </div>
                    </div>

                    <div class="flex justify-between items-center">
                        <div class="flex flex-wrap gap-4 w-full">

                            <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                                <mat-checkbox formControlName="solo" (change)="onPartnersChange('solo')"
                                    [checked]="form.get('solo')?.value"
                                    class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                                    <img src="/imgs/backpacker.svg" alt="backpacker" class="h-7 sm:h-8">
                                    <div class="mt-2 text-sm sm:text-base font-medium">Solo</div>
                                </mat-checkbox>
                            </div>

                            <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                                <mat-checkbox formControlName="couple" (change)="onPartnersChange('couple')"
                                    [checked]="form.get('couple')?.value"
                                    class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                                    <img src="/imgs/couple.svg" alt="couple" class="h-7 sm:h-8">
                                    <div class="mt-2 text-sm sm:text-base font-medium">Couple</div>
                                </mat-checkbox>
                            </div>

                            <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                                <mat-checkbox formControlName="family" (change)="onPartnersChange('family')"
                                    [checked]="form.get('family')?.value"
                                    class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                                    <img src="/imgs/family.svg" alt="family" class="h-7 sm:h-8">
                                    <div class="mt-2 text-sm sm:text-base font-medium">Family</div>
                                </mat-checkbox>
                            </div>

                            <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                                <mat-checkbox formControlName="friends" (change)="onPartnersChange('friends')"
                                    [checked]="form.get('friends')?.value"
                                    class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                                    <img src="/imgs/friends.svg" alt="friends" class="h-7 sm:h-8">
                                    <div class="mt-2 text-sm sm:text-base font-medium">Friends</div>
                                </mat-checkbox>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <hr class="my-4 border-t-1 border-gray-200">

            <div class="mb-15 mt-10">
                <div id="activities">

                    <div class="flex items-center gap-2 mb-6">
                        <div class="font-medium text-lg sm:text-xl">
                            Which activities are you interested in?
                        </div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="flex flex-wrap gap-4 w-full">
                            
                        @for(activity of activities ; track activity){
                          <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                            <mat-checkbox [formControlName]="normalizeNames(activity.activityType)"
                                          class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                              <img [src]="'/imgs/' + normalizeNames(activity.activityType) + '.svg'" 
                                   [alt]="activity.activityType" 
                                   class="h-7 sm:h-8">
                              <div class="mt-2 text-sm sm:text-base font-medium">{{ activity.activityType }}</div>
                            </mat-checkbox>
                          </div>
                        }
                        </div>
                    </div>
                      

                <!--    <div class="flex justify-between items-center">
                        <div class="flex flex-wrap gap-4 w-full">

                            <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                                <mat-checkbox formControlName="beach"
                                    class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                                    <img src="/imgs/beaches.svg" alt="beaches" class="h-7 sm:h-8">
                                    <div class="mt-2 text-sm sm:text-base font-medium">Beaches</div>
                                </mat-checkbox>
                            </div>

                            <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                                <mat-checkbox formControlName="city"
                                    class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                                    <img src="/imgs/city.svg" alt="city" class="h-7 sm:h-8">
                                    <div class="mt-2 text-sm sm:text-base font-medium">City sightseeing</div>
                                </mat-checkbox>
                            </div>

                            <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                                <mat-checkbox formControlName="outdoor"
                                    class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                                    <img src="/imgs/hiking.svg" alt="hiking" class="h-7 sm:h-8">
                                    <div class="mt-2 text-sm sm:text-base font-medium">Outdoor adventures</div>
                                </mat-checkbox>
                            </div>

                            <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                                <mat-checkbox formControlName="events"
                                    class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                                    <img src="/imgs/festival.svg" alt="festival" class="h-7 sm:h-8">
                                    <div class="mt-2 text-sm sm:text-base font-medium">Festivals</div>
                                </mat-checkbox>
                            </div>

                            <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                                <mat-checkbox formControlName="food"
                                    class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                                    <img src="/imgs/restaurant2.svg" alt="restaurant2" class="h-7 sm:h-8">
                                    <div class="mt-2 text-sm sm:text-base font-medium">Food exploration</div>
                                </mat-checkbox>
                            </div>

                            <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                                <mat-checkbox formControlName="nightlife"
                                    class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                                    <img src="/imgs/nightlife.svg" alt="nightlife" class="h-7 sm:h-8">
                                    <div class="mt-2 text-sm sm:text-base font-medium">Nightlife</div>
                                </mat-checkbox>
                            </div>

                            <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                                <mat-checkbox formControlName="shopping"
                                    class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                                    <img src="/imgs/online-shopping.svg" alt="online-shopping" class="h-7 sm:h-8">
                                    <div class="mt-2 text-sm sm:text-base font-medium">Shopping</div>
                                </mat-checkbox>
                            </div>

                            <div class="flex-shrink-0 w-[47%] md:w-[31%]">
                                <mat-checkbox formControlName="wellness"
                                    class="w-full h-full flex flex-col justify-between text-start border border-gray-300 rounded-md p-4 cursor-pointer hover:border-gray-800 transition-all">
                                    <img src="/imgs/massage.svg" alt="massage" class="h-7 sm:h-8">
                                    <div class="mt-2text-sm sm:text-base font-medium">Spa wellness</div>
                                </mat-checkbox>
                            </div>

                        </div>
                    </div> -->
                </div>

            </div>

            <hr class="my-4 border-t-1 border-gray-200">

            <div class="pb-20"></div>
        </form>
        <div
        class="w-full fixed bottom-0 left-0 py-4 border-t-2 bg-white border-gray-300 px-4 flex justify-end touch-none overscroll-contain z-50"
        id="submitDiv">
        <button mat-flat-button (click)="submitForm()">Submit</button>
        </div>
    </div>
</div>